Repository baresip/baresip, pull requests merged in 2022-03, with the labels that each got.

#1748 audio: allocate aubuf before ausrc_alloc (fixes data race)
  src/audio.c
Labels: bug, Audio

#1742 audio use module auconv
  docs/examples/config
  src/audio.c
  src/config.c
Labels: enhancement, Audio

#1769 audio: fix rx_thread (adaptive jitter buffer)
  src/audio.c
Labels: bug
